.invoice-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 1000px;
  margin-top: 5em;
  z-index: 1;
  color: antiquewhite;
  &_inner-container {
    display: flex;
    justify-content: space-around;
  }
}

.list-container {
  font-size: 22px;
  &__item {
    background: #932432;
    border-radius: 12px;
    margin-top: 2em;
    padding: 1em;
    &--open {
      display: flex;
      flex-direction: column;
      background-color: #d6c6c8;
    }
  }
}

.button {
  border: none;
  outline: none;
  font-size: 50px;
  height: 50px;
  cursor: pointer;
  &:hover {
    border-radius: 9px;
  }
}

.icon {
  width: 100%;
  height: 100%;
  background-color: #151524;
  color: white;
  &:hover {
    color: #151524;
    background-color: #932432;
    border-radius: 7px;
  }
}

.totalInvoice {
  background-color: #932432;
  font-size: 16px;
  padding: 0.2em 0.5em;
  border-radius: 4px;
}

.status-icon {
  border: none;
  border-radius: 8px;
  padding: 0.5em 1.5em;
  color: #e6964a;
  background-color: #774d2d;
}

.paid {
  color: #fff;
  background-color: #319c31;
}

.forward-btn {
  background-color: transparent;
  border: none;
}

.forward-icon {
  font-size: 20px;
  box-shadow: #661923 0px 2px 8px 0px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    box-shadow: #d6c6c8 0px 2px 8px 0px;
  }
}
.open-main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close-main-container {
  display: none;
}

.detail-open-container {
  display: flex;
  flex-direction: column;
  &__first-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .edit {
      background-color: rgba(210, 219, 210, 0.753);
    }
    & .delete {
      background-color: rgb(238, 77, 19);
    }
    & .mark {
      background-color: rgb(50, 143, 50);
    }
    & .edit,
    .delete,
    .mark {
      margin: 1em;
      padding: 1.3em 1.5em;
      border-radius: 12px;
      outline: none;
      border: none;
      cursor: pointer;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    & .edit:hover,
    .delete:hover,
    .mark:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    &__inner-item {
      display: flex;
      align-items: center;
    }
  }
  &__second-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.detail-close-container {
  display: none;
}

.left {
  margin-left: 1em;
}
